.esri-layer-list {
    width: auto !important;
}

.alert { 
	position: fixed !important;
	z-index: 999 !important;
	width: 70vw;
}

#map  {
	width: 100%;
	height: 98vh;
}

#sidebar {
	width: 100%;
	height: 98vh;
}

#isProcessing {
	margin-left: 10%;
	margin-top: 5%;
}

.col {
	padding-left: 0;
	padding-right: 0;
}

object {
	height: 100%;
	width: 100%;
}