.esri-layer-list {
    width: auto !important;
}

.alert { 
	z-index: 999 !important;
	width: 70vw;
	margin: auto;
	position: relative;
}

#map {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
